<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <title>Archer Forum</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link link nav" href="/posts">Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link nav" href="/createPost">Create Post</a>
  </li>
  <li class="nav-item link">
    <a class="nav-link nav" href="/members">Your Profile</a>
  </li>
  <li class="nav-item link">
    <a class="nav-link nav" href="/logout">Logout</a>
  </li>
</ul>
   
    {{{ body }}}
   
</body>

</html>