/* Login Selectors */
body{
    background-image: url('../img/archerhomepage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Imported font for archer */
@font-face{
    font-family: baveuse;
  src: url(../txt/baveuse.ttf);
}
@font-face{
    font-family: baveuse-3d;
  src: url(../txt/baveuse\ 3d.ttf);
}
/* Class Selectors */
.title{
    font-family: baveuse;
    color:rgb(224, 151, 14);
    font-size: 45px;
    text-shadow: 5px 5px 5px red
}

.login{
    font-family: baveuse;
    color:rgb(224, 151, 14);
    font-size: 25px;
    text-shadow:  5px 5px 5px red
}

.sign-up-link:hover{
    font-family: baveuse-3d;
}
/*  */