body{
    background-image: url('../img/archer2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


@font-face{
    font-family: baveuse;
  src: url(../txt/baveuse.ttf);
}
@font-face{
    font-family: baveuse-3d;
  src: url(../txt/baveuse\ 3d.ttf);
}

.title{
    clear: both;
    font-family: baveuse;
    color:rgb(224, 151, 14);
    font-size: 45px;
    text-shadow: 5px 5px 5px gray;
}

.login{
    clear: both;
    font-family: baveuse;
    color:rgb(224, 151, 14);
    font-size: 25px;
    text-shadow:  5px 5px 5px gray;
}

.login-link:hover{
    font-family: baveuse-3d;
}

.lana-float-left{
    float: left;
    
}