form.signup,
form.login {
  margin-top: 50px;
}
/* Imported fonts */
@font-face{
  font-family: baveuse;
src: url(../txt/baveuse.ttf);
}
@font-face{
  font-family: baveuse-3d;
src: url(../txt/baveuse\ 3d.ttf);
}
/* Element Selectors */
body{
  /* background-color: chartreuse; */
}

h1,h2,h3{
  font-family: baveuse;
}
/* Class Selectors */
.signup-image{
  height: 100vh;
  background-size: cover;
  background-image: url(../img/archer2.jpg) ;
}

.form-signup{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
/*  */