/* Element Selectors */

@font-face{
  font-family: baveuse;
src: url(../txt/baveuse.ttf);
}
@font-face{
  font-family: baveuse-3d;
src: url(../txt/baveuse\ 3d.ttf);
}

body{
  background-image: url('../img/hut.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,h2,h3{
  font-family: baveuse, Arial, Helvetica, sans-serif;
}


/* Class Selectors */
.signup-image{
  height: 100vh;
  background-size: cover;
  background-image: url(../img/archer2.jpg) ;
}

.form-signup{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(96, 140, 230);
  color: white;
  text-align: center;
}



.intro-h1{
  font-size:75px;
  color: rgb(250, 210, 160);
}
.intro-h2{
  font-size:75px;
  color:rgb(250, 210, 160);
}
.intro-p
{
  font-family:baveuse,Arial, Helvetica, sans-serif;
  font-size:28px;
  margin-bottom: 50px;
  color:rgb(250, 210, 160)
}

.c-color{
  background-color: bisque;
}

#tooltip-one{
  display: none;
}

#tooltip-two{
  display: none;
}

#tooltip-three{
  display: none;
}
